.lesson-container {
  padding: 40px;
  text-align: left;
  color: white;
}

.lesson-title {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 100px;
  text-align: center;
}

.lesson-box {
  background: rgba(29, 29, 29, 0.55);
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  color: white;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

.quiz-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #5a4bff;
  padding: 15px 25px;
  border-radius: 12px;
  font-size: 1.2rem;
  color: white;
  border: none;
  cursor: pointer;
}
