.quiz-container {
  padding: 40px;
  color: white;
  text-align: center;
}

.quiz-title {
  font-size: 3rem;
  margin-bottom: 40px;
}

.question-box {
  background: rgba(29, 29, 29, 0.55);
  padding: 25px;
  border-radius: 15px;
  margin: 30px auto;
  max-width: 800px;
  backdrop-filter: blur(10px);
}

.question-text {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 15px;
}

.option-btn {
  padding: 12px;
  border-radius: 10px;
  background: #3b3b3b;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.2s ease;
}

.option-btn.selected {
  background: #5454ff;
}

.option-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.feedback {
  margin-top: 10px;
  font-size: 1.3rem;
}

.correct {
  color: #4dff4d;
}

.incorrect {
  color: #ff4d4d;
}

.submit-btn {
  margin-top: 40px;
  padding: 18px 40px;
  background: #5454ff;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.3rem;
  cursor: pointer;
}

.back-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 15px 25px;
  background: #5454ff;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
}


.lessons-btn {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  margin-left: 1150px;
  padding: 18px 40px;
  border: none;
  border-radius: 45px;
  background: rgba(32, 32, 32, 0.55);
  backdrop-filter: blur(10px);
  width: fit-content;
  font-size: 1rem;
  color: #c4fef9;
  cursor: pointer;
  transition: 0.2s;
  font-family: nunito;
}

.lessons-btn:hover {
  transform: scale(1.1);
  color: rgb(149, 0, 255);
}

.units-btn {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  margin-left: 1399px;
  padding: 18px 40px;
  border: none;
  border-radius: 45px;
  background: rgba(32, 32, 32, 0.55);
  backdrop-filter: blur(10px);
  width: fit-content;
  font-size: 1rem;
  color: #c4fef9;
  cursor: pointer;
  transition: 0.2s;
  font-family: nunito;
}

.units-btn:hover {
  transform: scale(1.1);
  color: rgb(166, 0, 255);
}

.Home-btn {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  margin-left: 30px;
  padding: 18px 40px;
  border: none;
  border-radius: 45px;
  background: rgba(32, 32, 32, 0.55);
  backdrop-filter: blur(10px);
  width: fit-content;
  font-size: 1rem;
  color: #ff9dd3;
  cursor: pointer;
  transition: 0.2s;
  font-family: nunito;
}

.Home-btn:hover {
  transform: scale(1.1);
  color: rgb(255, 0, 111);
}