.home-container {
    position: relative;
    background: black ; 
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    z-index: 1;
}

.glass-box {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.06); 
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.12),
        rgba(255, 255, 255, 0.02)
    );

    width: 50%;
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    backdrop-filter: blur(25px) saturate(180%);
    border-radius: 25px;
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 
        0 4px 20px rgba(0, 0, 0, 0.4),
        0 0 40px rgba(255, 255, 255, 0.05);

    max-width: 500px;
    margin: 0 auto;
    height: 25%;
    font-family: nunito;
}


.glass-box h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.glass-box p {
    font-size: 1.4rem;
    opacity: 0.9;
    color: white;
}

.background-spheres {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}


.sphere {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  filter: blur(45px);
  opacity: 0.5;
  pointer-events: none;
  z-index: 0;
}

.sphere1 {
  background: rgb(85, 0, 255); 
  top: 10%;
  left: 5%;
}

.sphere2 {
  background: rgb(255, 0, 98); 
  bottom: 15%;
  right: 10%;
}

.sphere3 {
  background: rgb(0, 21, 255);
  top: 50%;
  left: 20%;
}

.sphere4 {
  background: rgb(0, 170, 255); 
  bottom: 40%;
  left: 70%;
}

.sphere5 {
  background: rgb(255, 0, 251); 
  right: 30%;
}

.sphere6 {
  background: #ff0062; 
  bottom: 10%;
  left: 40%;
}

.sphere7 {
  background: rgb(0, 242, 255); 
  bottom: 30%;
  left: 50%;
}

.sphere8 {
  background: rgb(106, 0, 255); 
  bottom: 30%;
  left: 50%;
}



@keyframes float {
  0% { transform: translate(0, 0) scale(1); }
  25% { transform: translate(80px, -60px) scale(1.1); }
  50% { transform: translate(-60px, 60px) scale(0.95); }
  75% { transform: translate(100px, 40px) scale(1.05); }
  100% { transform: translate(-80px, -40px) scale(1); }
}


.welcome-box {
  width: 45%;
  margin: 80px auto 40px auto;
  text-align: center;
  padding: 30px;
}

.sections-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 70%;
  margin: 40px auto auto;
  justify-items: center;
}

.section-card {
  padding: 40px 0;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
  color: white;
}

.section-card:hover {
  transform: scale(1.05);
  opacity: 0.9;
}



