#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Home-btn {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  margin-left: 30px;
  padding: 18px 40px;
  border: none;
  border-radius: 45px;
  background: rgba(32, 32, 32, 0.55);
  backdrop-filter: blur(10px);
  width: fit-content;
  font-size: 1rem;
  color: #ff9dd3;
  cursor: pointer;
  transition: 0.2s;
  font-family: nunito;
}

.Home-btn:hover {
  transform: scale(1.1);
  color: rgb(255, 0, 111);
}

.back-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 15px 25px;
  background: #7f2952;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
}

.lessons-btn {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  margin-left: 30px;
  padding: 18px 40px;
  border: none;
  border-radius: 45px;
  background: rgba(32, 32, 32, 0.55);
  backdrop-filter: blur(10px);
  width: fit-content;
  font-size: 1.3rem;
  color: #ff9dd3;
  cursor: pointer;
  transition: 0.2s;
  font-family: nunito;
}

.lessons-btn:hover {
  transform: scale(1.1);
  color: rgb(255, 0, 111);
}

.units-btn {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
  margin-left: 30px;
  padding: 18px 40px;
  border: none;
  border-radius: 45px;
  background: rgba(32, 32, 32, 0.55);
  backdrop-filter: blur(10px);
  width: fit-content;
  font-size: 1.3rem;
  color: #ff9dd3;
  cursor: pointer;
  transition: 0.2s;
  font-family: nunito;
}

.units-btn:hover {
  transform: scale(1.1);
  color: rgb(255, 0, 111);
}